{:http {:host "127.0.0.1"
        :port 8787}
 :allow-origin ["https://www.mcorbin.fr"]
 :rate-limit-minutes 5
 :admin {:token #secret "my-super-token"}
 :store {:access-key #secret #env ACCESS_KEY
         :secret-key #secret #env SECRET_KEY
         :bucket-prefix "commentator-dev-"
         :endpoint "https://sos-ch-gva-2.exo.io"}
 :comment {:auto-approve false
           :allowed-articles {"mcorbin-fr" ["foo"
                                            "bar"]}}
 :logging {:level "info"
           :console {:encoder "json"}
           :overrides {:org.eclipse.jetty "info"
                       :org.apache.http "error"}}
 :prometheus {:host "127.0.0.1"
              :port 8788}
 :challenges {:type :questions
              :ttl 120
              :questions [{:question "1 + 4 = ?"
                           :answer "5"}
                          {:question "1 + 9 = ?"
                           :answer "10"}]
              :secret #secret "aezaz"}}
